@charset "utf-8";

a { color: #0190d7;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{ color:#0190d7;}

.color-default{ color:#0190d7 !important;}
.btn-link { color: #0190d7;}
#header .main-nav li a:hover, #header .main-nav li.active a{ border-color:#0190d7;}
#header .search-container .search button{ color:#0190d7;}
#header .search-container .search input[type="text"]:focus{ border-color:#0190d7;}
.no-touch .cd-slider-nav a:hover {background-color: #0190d7;}
.cd-slider-nav .cd-marker {background-color: #0190d7;}
#footer a:hover{ color:#00587c;}
.btn-primary { background-color: #008fd6;}
.owl-dots .owl-dot.active{background-color: #0190d7;}
.counter span{ color:#0190d7;}
.service-box, .service-box.two:hover{ border-color:#0190d7;}
.service-box.three:after{ background:#0190d7;}
.service-box i{ color:#0190d7;}
.toggle .toggle-heading a i{ color:#0190d7; border-color:#0190d7;}
.meet-advisors-content h3{ color:#0190d7;}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{background-color: #0190d7;}
#header .main-nav li.dropdown ul.dropdown-menu li a:hover, #header .main-nav li.dropdown ul.dropdown-menu li.active a{ background-color:#0190d7;}
.cd-slider-nav li .slide-number{ background-color:#0190d7;}
.cd-slider-nav li.selected .slide-number, .cd-slider-nav li:hover .slide-number{ color:#0190d7;}
#header.header-two .header-contact-widget li i{ color:#0190d7;}
#header.header-two .header-contact-widget li p a:hover{ color:#0190d7;}
.breadcrumbs li a:hover{ color:#0190d7;}
.blog-item .blog-content h3 a:hover{ color:#0190d7;}
.blog-item .blog-meta li a:hover{color:#0190d7;}
.categories li a:hover{color:#0190d7;}
.tags li a:hover {color:#0190d7; border-color:#0190d7;}
.popular-post h4 a:hover {color:#0190d7;}
.search {background-color: #0190d7;}
.search .search-icon:hover i {color:#0190d7;}
.blog-item-classic .blog-content a.btn-link, .blog-item .blog-content a.btn-link{border-color:#0190d7;}
.blog-item-classic .blog-content h3 a:hover{ color:#0190d7;}
.news-paggination li a:hover{ color:#0190d7;}
.company-history li .year{ color:#0190d7}
.company-history li .history-content:before{ background-color:#0190d7}
.team-member h4{ color:#0190d7}
.list-bullets li:before{ background:#0190d7;}
.left-nav li a:hover, .left-nav li a.active{ border-color:#0190d7;}
.help-widget{ background-color:#0190d7;}
.product-description h3 a:hover{ color:#0190d7;}
.product-description .product-cart-btn:hover, .product-description .product-detail-btn:hover{ color:#0190d7;}
.product-thumb label{ background:#0190d7;}
.ui-slider-horizontal .ui-slider-range{ background:#0190d7;}
.top-products .top-products-detail i{ color:#0190d7;}
.top-products .top-products-detail h4 a:hover{ color:#0190d7;}
.ratings i{ color:#0190d7;}
.resp-vtabs li.resp-tab-active{color:#0190d7;}
.resp-tab-active { background:#0190d7;}
.cart-total .amount{color:#0190d7;}
.banner-btn.colored{ background:#0190d7;}
.map-with-address-widget a:hover{ color:#0190d7;}
blockquote{ border-color:#0190d7;}
.cases-filter-nav li a:hover, .cases-filter-nav li a.selected{ background:#0190d7;}
.product-detail-slider .rslides_tabs li.rslides_here a{background:#0190d7}
.review-form-close:hover{ background:#0190d7;}
.btn.btn-dark:hover{ background:#0190d7;}

.btn-primary:hover  {background-color: #00587c;}
a:hover, a:focus, .btn-link:hover, .btn-link:focus { color:#005781;}

.icon-img-1{ background-image:url(../images/color-scheme/green/icon1.png);}
.icon-img-2{ background-image:url(../images/color-scheme/green/icon2.png);}
.icon-img-3{ background-image:url(../images/color-scheme/green/icon3.png);}
.icon-img-4{ background-image:url(../images/color-scheme/green/icon4.png);}
.icon-img-5{ background-image:url(../images/color-scheme/green/icon5.png);}
.icon-img-6{ background-image:url(../images/color-scheme/green/icon6.png);}
.icon-img-7{ background-image:url(../images/color-scheme/green/icon7.png);}
.icon-img-8{ background-image:url(../images/color-scheme/green/icon8.png);}
.icon-img-9{ background-image:url(../images/color-scheme/green/icon9.png);}

#footer .usefull-links-widget li a:hover{ background-image:url(../images/color-scheme/green/dot-h.png)}
aside .testimonial-content{ background-image:url(../images/color-scheme/green/testimonial-pointer2.png)}

.highlighted-sec li:nth-child(1n+1) .text-box{ background:#0190d7;}
.highlighted-sec li:nth-child(2n+2) .text-box{ background:#055684;}
.highlighted-sec li:nth-child(3n+3) .text-box{ background:#0190d7;}
.highlighted-sec li:nth-child(4n+4) .text-box{ background:#055684;}
.highlighted-sec li:nth-child(5n+5) .text-box{ background:#0190d7;}
.highlighted-sec li:nth-child(6n+6) .text-box{ background:#055684;}


.services.highlighted .owl-item:nth-child(3n+1) .service-box{ background:#0190d7;}
.services.highlighted .owl-item:nth-child(3n+2) .service-box{ background:#068e1d;}
.services.highlighted .owl-item:nth-child(3n+3) .service-box{ background:#07811c;}


.cases-item figcaption{ background:rgba(9,162,35,0.80);}


#header .top-bar:after, #header .top-bar{ background:#055781;}
#header .top-bar:before, #header .top-bar p, #header .top-bar p:after{ background:#008fd6;}
#header.header-two .main-nav{ background:#3a2c5f}
.smallHeader.active #header.header-two{ background:#3a2c5f !important;}

.testimonial-2 .testimonials-author p{color:#0190d7;}
#header.header-three .main-nav li a:hover, #header.header-three .main-nav li.active > a{color:#0190d7;}
.doing-the-right-text span{ color:#3a2c5f;}